[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
dash = "==0.26.5"
dash-html-components = "==0.12.0"
dash-core-components = "==0.28.0"
numpy = "*"
pandas = "*"

[requires]
python_version = "3.5"
